
<!-- class="active" -->
<div class="navbar">
  <a [routerLink]="['home']" routerLinkActive="active"> Home</a>  
  <a [routerLink]="['about']" routerLinkActive="active"> About</a>
  <a [routerLink]="['heroes']" routerLinkActive="active"> Heroes</a>


  <div class="search-container">
    <input type="text" placeholder="Buscar..." id="search" #buscarTexto (keyup.enter)="buscarHeroe(buscarTexto.value)">
    <button type="button" (click)="buscarHeroe(buscarTexto.value)">Buscar</button>
  </div>

</div>
