<h1>{{ heroe.nombre | uppercase }} (<small>{{ heroe.aparicion | date:'y'}}</small>)</h1>
<hr>
<!-- 
    uppercase = Convierte a mayúscula la cadena.
    date: ‘y’ = Obtiene el año de la fecha. 
-->

<div class="card">
    <img [src]="heroe.img" [alt]="heroe.nombre">

  <br>  <br>
    <!-- link para regresar a la pestaña de heroes -->
    <a [routerLink]="'/heroes'" class="atras">Regresar</a>
</div> 
    <!-- atributos de los personajes -->
<div>
    <h3>{{ heroe.nombre }}</h3>

    <hr>

   <p>
        {{heroe.aparicion}}
    </p> 
    
    <hr>

    <p>
        {{heroe.bio}}
    </p>

<!-- son los logos de abajo segun de donde sea de dc o de marvel -->
    <div>
        <img *ngIf="heroe.casa === 'DC'" class="img-logo" src="assets/img/dc-logo.jpg" alt="dc-logo" >

        <img *ngIf="heroe.casa === 'Marvel'" src="assets/img/marvel-logo.png" alt="marvel-logo" class="img-logo">
    </div>
</div>