<h1>Pipes <small>Angular</small></h1>
<hr>
<table>

    <thead>
        <tr>
            <th>Variable</th>
            <th>Pipe</th>
            <th>Salida</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ nombre }}</td>
            <td>uppercase</td>
            <td>{{nombre | uppercase}}</td>
        </tr>
        <tr>
            <td>{{ nombre }}</td>
            <td>lowercase</td>
            <td>{{nombre | lowercase}}</td>
        </tr>

        <!-- slice con su parametro saca esa cantidad de elementos -->
        <tr>
            <td>{{ nombre }}</td>
            <td>slice: 3</td>
            <td>{{nombre | slice:3}}</td>
        </tr>
        <!-- con dos parametos desde la posicion 0 haasta la posicion 3 saca los elementos  -->
        <tr>
            <td>{{ nombre }}</td>
            <td>slice:0: 3</td>
            <td>{{nombre | slice:0:3}}</td>
        </tr>
        <tr>
            <td>{{ array }}</td>
            <td>slice:1:5</td>
            <td>{{array | slice:1:5}}</td>
        </tr>

        <tr>
            <td>{{PI}}</td>
            <td>number</td>
            <!-- el 1 . es los enteros y los 0-0 es la parte decimal que indicas como quieres que salga -->
            <td>{{PI | number:'1.0-0'}}</td>
        </tr>
        <tr>
            <td>{{PI}}</td>
            <td>number</td>
            <!-- ignifica que obtendrá 3 números enteros, si no los tiene rellenara el valor con ceros. -->
            <td>{{PI | number:'3.0-0'}}</td>
        </tr>
        <tr>
            <td>{{ PI }}</td>
            <td>number</td>
            <!-- tendra todos los numeros enteros y dos decimasles -->
            <td>{{ PI | number:'.0-2'}}</td>
        </tr>

        <tr>
            <td>{{ porcentaje }}</td>
            <td>percent</td>
            <!-- Percent obtiene el porcentaje de un numero. -->
            <td>{{ porcentaje | percent}}</td>
          </tr>

        <tr>
        <td>{{ porcentaje }}</td>
        <td>percent</td>
        <!-- Significa que obtendra 2 posiciones enteras y 2 decimales. -->
        <td>{{ porcentaje | percent:'2.2-2'}}</td>
        </tr>

        <tr>
            <td>{{ salario }}</td>
            <!-- El pipe currency nos da un tipo de moneda. -->
            <td>currency</td>
            <td>{{ salario | currency}}</td>
          </tr>
         
          <tr>
            <td>{{ salario }}</td>
            <!-- El pipe currency nos da un tipo de moneda. -->
            <td>currency</td>
            <td>{{ salario | currency: 'EUR'}}</td>
          </tr>  
          

          <tr>
            <td>{{ valorPromesa }}</td>
            <td>async</td>
            <!-- El pipe async nos sirve para manejar información asíncrona. -->
            <td>{{ valorPromesa | async}}</td>
          </tr>  

          <tr>
            <td>{{ fecha }}</td>
            <td>date</td>
            <td>{{ fecha | date }}</td>
          </tr>

          <tr>
            <td>{{ fecha }}</td>
            <td>date</td>
            <td>{{ fecha | date:'dd/MM/yyyy' }}</td>
          </tr>

          <tr>
            <td>{{ nombre2 }}</td>
            <td>capitalizado</td>
            <td>{{ nombre2 | capitalizado }}</td>
          </tr>  
    </tbody>
</table>

<h4>Slice</h4>
<ul>
  <li *ngFor="let item of array | slice:5:20">
    {{ item }}
  </li>
</ul>


<h3>JSON</h3>
<hr>
<div>
    <!-- Nos muestra de forma adecuada el objeto, en este caso estamos usando el pipe json. -->
    {{ heroe | json}}
</div>

<pre>
    {{ heroe | json}}
</pre>